<section class="image-head-wrapper" style="background-image: url('../../../assets/images/banner9.jpg');">
    <div class="inner-wrapper">
        <h1>Dining </h1>
    </div>
</section>
<div class="clearfix"></div>

<section class="gallery-block gallery-front">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/dining1.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive" href="../../../assets/images/dining1.jpg"
                            data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Bar Ventura</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/dining2.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive" href="../../../assets/images/dining2.jpg"
                            data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Mars Airport</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/dining3.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive" href="../../../assets/images/dining3.jpg"
                            data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Willy Wonka's Chocolate Factory</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/dining4.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive" href="../../../assets/images/dining4.jpg"
                            data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Tiki Bar</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:50px"></div>
        <div></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/dining5.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive" href="../../../assets/images/dining5.jpg"
                            data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Fire Eaters</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/dining6.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive" href="../../../assets/images/dining6.jpg"
                            data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Three Broomsticks</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/dining7.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive" href="../../../assets/images/dining7.jpg"
                            data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Florean Fortescue's Ice-Cream Parlour</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/dining8.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive" href="../../../assets/images/dining8.jpg"
                            data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Pizza Parlour</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>