<section class="image-head-wrapper" style="background-image: url('../../../assets/images/banner10.jpg');">
    <div class="inner-wrapper">
        <h1>Shopping </h1>
    </div>
</section>
<div class="clearfix"></div>

<section class="gallery-block gallery-front">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/shopping1.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive"
                            href="../../../assets/images/shopping1.jpg" data-lightbox="example-1"><i
                                class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Bait Shop</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/shopping2.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive"
                            href="../../../assets/images/shopping2.jpg" data-lightbox="example-1"><i
                                class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Dinostore</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/shopping3.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive"
                            href="../../../assets/images/shopping3.jpg" data-lightbox="example-1"><i
                                class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Honeydukes</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/shopping4.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive"
                            href="../../../assets/images/shopping4.jpg" data-lightbox="example-1"><i
                                class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Jurassic Outfitter</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:50px"></div>
        <div></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/shopping5.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive"
                            href="../../../assets/images/shopping5.jpg" data-lightbox="example-1"><i
                                class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Galaxy Fighter</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/shopping6.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive"
                            href="../../../assets/images/shopping6.jpg" data-lightbox="example-1"><i
                                class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Ollivander's Wand Shop</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/shopping7.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive"
                            href="../../../assets/images/shopping7.jpg" data-lightbox="example-1"><i
                                class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>ET's Toy Closet</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gallery-image">
                    <img class="img-responsive" src="../../../assets/images/shopping8.jpg">
                    <div class="overlay">
                        <a class="info pop example-image-link img-responsive"
                            href="../../../assets/images/shopping8.jpg" data-lightbox="example-1"><i
                                class="fa fa-search" aria-hidden="true"></i></a>
                        <p><a>Space Explorer</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>