<div id="page">
    <!-- Region1 -->
    <section id="area1" class="image-head-wrapper" style="background-image: url('../../../assets/images/banner5.jpg');">
        <div class="inner-wrapper">
            <h1>Wizarding World of Harry Potter</h1>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="resort-overview-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                    <div class="side-A">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="single-blog.html"><img alt="image" class="img-responsive"
                                        src="../../../assets/images/region1ride1.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="side-B">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">Hagrid's Magical Creatures Motorbike Adventure</a></h3>
                            <p>Get ready for a magical thrill ride with Hagrid as your guide, as you fly through the
                                Forbidden Forest encountering enchanting creatures on his motorbike!</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                    <div class="side-A">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="single-blog.html"><img src="../../../assets/images/region1ride2.png"
                                        class="img-responsive" alt="image"></a>
                            </div>
                        </div>
                    </div>
                    <div class="side-B">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">The Forbidden Journey</a></h3>
                            <p>Step into the wizarding world of Harry Potter and join Harry, Ron, and Hermione on an
                                adventure of a lifetime as you soar through Hogwarts Castle, dodge dragons, and face
                                dementors on this incredible thrill ride that will leave you breathless!</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-12 offspace-45"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                    <div class="side-A">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">Escape From Gingotts</a></h3>
                            <p>Join us on a breakneck journey through Gringotts Bank, where you'll face down a
                                fire-breathing dragon, dodge curses, and make a narrow escape with the help of some
                                beloved characters from the Wizarding World!</p>
                        </div>
                    </div>

                    <div class="side-B">
                        <div class="product-thumb">
                            <div class="image txt-rgt">
                                <a class="arrow-left" href="single-blog.html"><img alt="imaga" class="img-responsive"
                                        src="../../../assets/images/region1ride3.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                    <div class="side-A">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">Hogwarts Express</a></h3>
                            <p>Climb aboard the Hogwarts Express and embark on a magical journey from platform 9 3/4 at
                                King's Cross Station to Hogsmeade Village, where you'll encounter beloved characters and
                                breathtaking sights from the Wizarding World on this unforgettable train ride!</p>
                        </div>
                    </div>

                    <div class="side-B">
                        <div class="product-thumb txt-rgt">
                            <div class="image">
                                <a class="arrow-left" href="single-blog.html"><img alt="imaga" class="img-responsive"
                                        src="../../../assets/images/region1ride4.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </section>


    <!-- Region2 -->
    <section id="area2" class="image-head-wrapper" style="background-image: url('../../../assets/images/banner6.jpg');">
        <div class="inner-wrapper">
            <h1>Ancient Egypt</h1>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="resort-overview-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                    <div class="side-A">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="single-blog.html"><img alt="image" class="img-responsive"
                                        src="../../../assets/images/region2ride1.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="side-B">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">Revenge of the Mummy</a></h3>
                            <p>Revenge of the Mummy is a high-speed roller coaster ride that takes you on a thrilling
                                journey through ancient Egyptian ruins, where you'll face terrifying mummies and
                                supernatural creatures lurking around every turn!</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                    <div class="side-A">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="single-blog.html"><img src="../../../assets/images/region2ride2.png"
                                        class="img-responsive" alt="image"></a>
                            </div>
                        </div>
                    </div>
                    <div class="side-B">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">Treasure Hunters</a></h3>
                            <p>Embark on a desert adventure with Treasure Hunters, a thrilling ride that takes you
                                through the heart of an Egyptian temple, where you'll dodge booby traps and outsmart
                                ancient guardians on a quest for treasure that's fit for a pharaoh!</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-12 offspace-45"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                    <div class="side-A">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">Riddle of the Sphinx</a></h3>
                            <p>Unlock the secrets of the Sphinx on this thrilling ride that takes you on a journey
                                through an ancient Egyptian tomb, where you'll solve riddles, evade curses, and face off
                                against dangerous guardians in a race against time to uncover the hidden treasure
                                within!</p>
                        </div>
                    </div>

                    <div class="side-B">
                        <div class="product-thumb">
                            <div class="image txt-rgt">
                                <a class="arrow-left" href="single-blog.html"><img alt="imaga" class="img-responsive"
                                        src="../../../assets/images/region2ride3.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="clearfix"></div>

            </div>
        </div>
    </section>


    <!-- region3 -->
    <section id="area3" class="image-head-wrapper" style="background-image: url('../../../assets/images/banner7.jpg');">
        <div class="inner-wrapper">
            <h1>Jurassic Park</h1>
        </div>
    </section>
    <div class="clearfix"></div>

    <section class="resort-overview-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                    <div class="side-A">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="single-blog.html"><img alt="image" class="img-responsive"
                                        src="../../../assets/images/region3ride1.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="side-B">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">Velocicoaster</a></h3>
                            <p>Brace yourself for a prehistoric adventure on a bone-rattling, heart-pounding ride
                                through the jaws of the world's most fearsome predators, where you'll feel the primal
                                thrill of facing off against massive, sharp-toothed dinosaurs that will leave you
                                gasping for air!</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                    <div class="side-A">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="single-blog.html"><img src="../../../assets/images/region3ride2.png"
                                        class="img-responsive" alt="image"></a>
                            </div>
                        </div>
                    </div>
                    <div class="side-B">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">Rapids Adventure</a></h3>
                            <p>Take a wild ride on the waterways of Jurassic Park where prehistoric creatures roam free
                                in seek of their next meal, and you’re it! </p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-12 offspace-45"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                    <div class="side-A">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">Pteranodon Flyers</a></h3>
                            <p>Little adventurers will experience an amazing view as they slowly soar through the air
                                beneath the 10-foot wings of a Pteranodon.</p>
                        </div>
                    </div>

                    <div class="side-B">
                        <div class="product-thumb">
                            <div class="image txt-rgt">
                                <a class="arrow-left" href="single-blog.html"><img alt="imaga" class="img-responsive"
                                        src="../../../assets/images/region3ride3.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="clearfix"></div>

            </div>
        </div>
    </section>


    <!-- Region4 -->
    <section id="area4" class="image-head-wrapper" style="background-image: url('../../../assets/images/banner8.jpg');">
        <div class="inner-wrapper">
            <h1>A Space Odyssey</h1>
        </div>
    </section>
    <div class="clearfix"></div>

    <section class="resort-overview-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                    <div class="side-A">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="single-blog.html"><img alt="image" class="img-responsive"
                                        src="../../../assets/images/region4ride1.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="side-B">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">Space Mountain</a></h3>
                            <p>Blast off on a high-speed roller coaster through the cosmos, where you'll dodge asteroids
                                and soar past swirling galaxies on a thrilling journey to the edge of the universe!</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                    <div class="side-A">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="single-blog.html"><img src="../../../assets/images/region4ride2.png"
                                        class="img-responsive" alt="image"></a>
                            </div>
                        </div>
                    </div>
                    <div class="side-B">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">Mission: SPACE</a></h3>
                            <p>Experience the ultimate space training simulator as you launch into orbit on a mission to
                                Mars, where you'll feel the g-forces of liftoff and navigate through a maze of
                                interstellar obstacles!</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-12 offspace-45"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                    <div class="side-A">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">The Twilight Zone Tower of Terror</a></h3>
                            <p>Brace yourself for a spine-tingling freefall into the fifth dimension on this haunted
                                elevator ride through a cursed Hollywood hotel, where you'll be plunged into darkness
                                and transported to another dimension!</p>
                        </div>
                    </div>

                    <div class="side-B">
                        <div class="product-thumb">
                            <div class="image txt-rgt">
                                <a class="arrow-left" href="single-blog.html"><img alt="imaga" class="img-responsive"
                                        src="../../../assets/images/region4ride3.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                    <div class="side-A">
                        <div class="product-desc-side">
                            <h3><a href="single-blog.html">Star Tours</a></h3>
                            <p>Join the rebellion and soar through the Star Wars galaxy on this interactive 3D ride,
                                where you'll travel to iconic planets, battle Imperial forces, and face off against
                                Darth Vader himself!</p>
                        </div>
                    </div>

                    <div class="side-B">
                        <div class="product-thumb txt-rgt">
                            <div class="image">
                                <a class="arrow-left" href="single-blog.html"><img alt="imaga" class="img-responsive"
                                        src="../../../assets/images/region4ride4.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </section>
</div>